{{outlet}}
title{{input value=model.title size='15'}}<br>
author{{input value=model.author size='15'}}<br>
year{{input value=model.year size='15'}}<br>
<button {{atction 'updateText'}}>update</button>
<button {{action 'cancel'}}>cancel</button>