{{outlet}}
{{input value='info.title' size='15'}}<br>
{{input value='info.author' size='15'}}<br>
{{input value='info.year' size='15'}}<br>
<button {{action 'newText'}}>submit</button>
<button {{action 'cancel'}}>cancel</button>
